<ion-header>
  <ion-navbar color="primary">
    <ion-title>Posts</ion-title>
    <ion-buttons end class="all-buttons">
      <button ion-button clear (click)="addQuestion()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="timeline-detail">

  <ion-list>
    <ion-item-sliding *ngFor="let item of datasource.source">
      <ion-item *ngIf="item.role==0 || item.role == userDetails.role || userDetails.role == 1">
        <ion-avatar item-left (click)="showProfileInfo(item)">
          <img src="assets/img/front2.jpg" />
        </ion-avatar>
        <h2 class="username">{{item.user.name}}</h2>
        <p class="timing">{{item.created_at | date:'MMMM d, h:mm a'}}</p>
        <ion-avatar class="top-icons" item-right (click)="like(timeline)">
        </ion-avatar>
        <ion-avatar class="top-icons" item-right>
          <ion-icon class="share-icon" name="share"></ion-icon>
        </ion-avatar>
        <p class="detail-para">{{item.title}}</p>
        <div (click)="details(item)">
          <ion-icon style="color: red" name="heart"></ion-icon>
          <span> Likes</span>
          <span style="margin: 0 5px"></span>
          <ion-icon color="primary" name="chatbubbles"></ion-icon>
          <span> Comments</span>
        </div>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="editItem(item)">Edit</button>
        <button ion-button color="danger" (click)="deleteItem(item.id)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>