<ion-header class="login-header" no-border no-shadow>
  <ion-toolbar>
    <button ion-fab class="close-button" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
    <ion-title text-center>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="login-component">
  <div class="login-content" id="login">
      <ion-list class="login-data login-padding">
        <ion-item>
          <ion-input type="email" placeholder="Student ID" [(ngModel)]="userData.email" no-auto-scroll></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="userData.password" no-auto-scroll></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full color="energy" round (click)="login()">Log in</button>
  </div>
</ion-content>
