<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Announcement" tabIcon="paper"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Post" tabIcon="chatbubbles"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Frequent Q&A" tabIcon="help-circle"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Notifications" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="MyProfile" tabIcon="person"></ion-tab>
</ion-tabs>