.timeline-detail{
  .username{
    color: map-get($colors, primary);
  }
  .item{
    padding-left: 0;
  }
  .top-icons{
    margin: 0 !important;
    ion-icon{
      float: right;
      color: map-get($colors, primary);
    }
  }
  .detail-image img{
    width: 100%;
  }
  .detail-para{
    text-align: justify;
    text-indent: 10px;
    margin-top: 5px;
  }
  .other-comment{
    margin-bottom: 10px;
    .item-block:last-child{
      border-bottom-style:none ;
    }
    .item-block:last-child .item-inner{
      border-bottom: 0.55px solid #c8c7cc !important;
    }
  }
  .comment-heading{
    color: map-get($colors, primary);
    font-variant: small-caps;
  }
  .comment-avatar{
    align-self: baseline;
  }
  .comments{
   white-space: initial;
  }
  .notes{
    font-size: 1.2rem;
    .link{
      color: #6767a1;
    }
  }
}
.user-comment-list{
  border-style: none !important;
  .item-inner{
    padding-right: 0 !important;
  }
  .comment-area{
    border: 1px solid #c8c7cc;
    margin-right: 3px;
  }
 .addButton{
    margin: 9px 0 9px 9px !important;
  }
}
.user-comment-list.list-md .item-input.input-has-focus:last-child, .user-comment-list.list-md .item-input:last-child{
   border-bottom-color: transparent;
  box-shadow: inset 0 -1px 0 0 transparent;
}
.user-comment-list.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .user-comment-list.list-ios > .item-block:first-child{
  border-bottom-color: transparent;
  border-top-color: transparent;
  box-shadow: inset 0 -1px 0 0 transparent;
}
