<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="timeline-detail">
  <ion-item>
    <ion-avatar item-left (click)="showProfileInfo(item.user)">
      <img src="assets/img/front2.jpg" />
    </ion-avatar>
    <h2 class="username">{{item.user.name}}</h2>
    <p class="timing">{{item.created_at | date:'MMMM d, h:mm a'}}</p>
    <ion-avatar class="top-icons" item-right (click)="like(timeline)">
      <ion-icon class="like-icon"></ion-icon>
    </ion-avatar>
    <ion-avatar class="top-icons" item-right>
      <ion-icon class="share-icon" name="share"></ion-icon>
    </ion-avatar>
  </ion-item>
  <!-- <div class="detail-image" >
    <img src="assets/img/front2.jpg" />
  </div> -->
  <p class="detail-para">{{item.title}}</p>
  <p class="detail-para">{{item.content}}</p>
  <div>
    <ion-icon style="color: red" name="heart" (click)="removeLike()" *ngIf="liked"></ion-icon>
    <ion-icon name="heart" (click)="addLike()" *ngIf="!liked"></ion-icon>
    <span> {{item.likes.length}} Likes</span>
    <span style="margin: 0 5px"></span>
    <ion-icon color="primary" name="chatbubbles"></ion-icon>
    <span> {{item.comments.length}} Comments</span>
  </div>
  <h6 class="comment-heading"> Comments </h6>
  <ion-list class="other-comment">
    <ion-item *ngFor="let comment of item.comments">
      <ion-avatar class="comment-avatar" item-left (click)="showProfileInfo(comment.user)">
        <img src="assets/img/front2.jpg" />
      </ion-avatar>
      <h4 class="username"> {{comment.user.name}} </h4>
      <h6 class="comments"> {{comment.content}} </h6>
      <ion-note class="notes">
        <span>3 hours ago . </span>
        <!-- <span class="link">Like . </span>
        <span>
          <ion-icon color="primary" name="heart"> 2 . </ion-icon>
        </span>
        <span class="link">Reply</span> -->
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list class="user-comment-list">
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/front2.jpg" />
      </ion-avatar>
      <ion-textarea class="comment-area" placeholder="Add your comment..." [(ngModel)]="pastComment" #comment></ion-textarea>
      <button ion-button class="addButton" item-end (click)="addComment(comment)">
        Add
      </button>
    </ion-item>
  </ion-list>
</ion-content>