page-announcement-modal {
  .post-toolbar {
    .toolbar {
      border-top-left-radius: 40px;
    }
    .toolbar-background {
      background: transparent;
      border-style: none;
    }
    .toolbar-content .toolbar-title {
      color: map-get($colors, primary);
      font-family: cursive;
      font-variant: small-caps;
      font-size: 1.7rem;
      ion-icon {
        margin: 5px;
      }
    }
    .close-button {
      top: 0;
      right: 0;
      position: absolute;
      width: 3rem;
      height: 3rem;
      ion-icon {
        font-size: 1.4rem;
      }
    }
    .post-button {
      width: 50%;
      left: 25%;
    }
  }

  .post-content {
    background: rgba(white, 0.85);
    border-radius: 40px;
    .upload-image {
      position: relative;
      width: 100%;
      height: 50%;
      background: rgba(darkgrey, 0.6);
      margin-bottom: 1em;
      .show-camera {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2.2em;
      }
      @media (orientation: Landscape) and (max-height: 700px) {
        height: 30%;
      }
    }
    .post-title,
    .post-text,
    .post-user {
      background: rgba(white, 0.6);
      border: 1px solid rgba(darkgrey, 0.6);
      .text-input-wp {
        border: none;
      }
    }
    .list-ios {
      margin-bottom: 1em;
    }
  }

  .plus-on-icon {
    position: absolute;
    top: -0.5em;
    right: -1.2em;
    background: transparent;
    color: map-get($colors, myFont);
  }
}
