<ion-header class="post-toolbar" no-border no-shadow>
  <ion-toolbar>
    <button ion-fab class="close-button" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title text-left>
      <ion-icon name="add"></ion-icon>
      Announcment
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="post-content">
  <ion-list class="post-title">
    <ion-item>
      <ion-input type="text" ngControl="pastName" [(ngModel)]="pastName" placeholder="Add Title..." clearInput #name></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="post-user">
    <ion-item>
      <ion-label>Select user</ion-label>
      <ion-select ngControl="pastRole" [(ngModel)]="pastRole" #role>
        <ion-option value="0">All</ion-option>
        <ion-option value="2">pre-intern</ion-option>
        <ion-option value="3">industrial student</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="post-toolbar" no-border no-shadow>
  <ion-toolbar>
    <!-- <button ion-button block class="post-button" (click)="feedUpdate()">Post</button> -->
    <button ion-button block class="post-button" (click)="post(name, role)">Save</button>
  </ion-toolbar>
</ion-footer>