<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button clear (click)="editItem(userDetails)">
        <!-- <ion-icon name="log-out">
        </ion-icon> -->
        Edit
      </button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="logout()">
        <ion-icon name="log-out">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content elastic-profile>
  <div class="profile-images">
    <img class="profile-cover" src="assets/img/front2.jpg" />
    <!-- <img class="profile-cover" data-src="{{profile.cover}}"> -->
    <div class="profile-details">
      <div class="profile-area-photo">
        <img class="profile-photo" src="assets/img/front2.jpg" />
        <!-- <img class="profile-photo" src="{{userDetails.image}}" /> -->
        <!-- <img class="profile-cover" data-src="{{profile.cover}}"> -->
      </div>
      <div class="profile-area-username">
        <!-- <h1 class="profile-name" text-center>{{userDetails.name}}</h1> -->
      </div>
    </div>
  </div>

  <div padding class="other-content">
    <p>Name: {{userDetails.name}}</p>
    <!-- <p>Matric no: {{userDetails.matric}}</p> -->
    <p>Email: {{userDetails.email}}</p>
    <!-- <p>Status/Role: {{userDetails.role}}</p> -->
    <p [ngSwitch]="userDetails.role">
      Status/Role:
      <span *ngSwitchCase="1">LI Coordinator</span>
      <span *ngSwitchCase="2">Pre Intern</span>
      <span *ngSwitchCase="3">industrial student</span>
    </p>
  </div>
</ion-content>