<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Frequently asked questions</ion-title>
    <ion-buttons end class="all-buttons" *ngIf="userDetails.role == 1">
      <button ion-button clear (click)="addFaq()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <ion-grid *ngIf="userDetails.role == 1">
    <ion-list>
      <ion-item>
        <ion-input ngControl="question" placeholder="question" #question [ngModel]="pastquestion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngControl="answer" placeholder="answer" #answer [ngModel]="pastanswer"></ion-input>
      </ion-item>
    </ion-list>
    <button *ngIf="toggle == false" [style.display]="visible" ion-button (click)="createItem(question, answer)">Add</button>
    <button *ngIf="toggle == true" [style.display]="visible" ion-button (click)="updateItem(question, answer)">Edit</button>
  </ion-grid> -->

  <ion-list>
    <!-- <ion-item *ngFor="let item of datasource.source; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3><strong>
        {{item.question}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </strong></h3>
      <div *ngIf="isGroupShown(i)">{{item.answer}}</div>
    </ion-item> -->


    <ion-item-sliding *ngFor="let item of datasource.source; let i=index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <ion-item text-wrap>
        <h3>
          <strong>
            {{item.question}}
            <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </strong>
        </h3>
        <div *ngIf="isGroupShown(i)">{{item.answer}}</div>
      </ion-item>
      <ion-item-options side="left" *ngIf="userDetails.role == 1">
        <button ion-button (click)="editItem(item)">Edit</button>
        <button ion-button color="danger" (click)="deleteItem(item.id)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>