<ion-header>
  <ion-navbar color="primary">
    <ion-title>Announcement</ion-title>
    <ion-buttons end class="all-buttons" *ngIf="userDetails.role == 1">
      <button ion-button clear (click)="addAnnouncement()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!-- <ion-grid *ngIf="userDetails.role == 1">
    <ion-list>
      <ion-item>
        <ion-input ngControl="name" placeholder="name" #name [ngModel]="pastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Role</ion-label>
        <ion-select ngControl="pastrole" [(ngModel)]="pastrole" #role>
          <ion-option value="0">All</ion-option>
          <ion-option value="2">Pre Intern</ion-option>
          <ion-option value="3">Industrial Student</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button *ngIf="toggle == false" [style.display]="visible" ion-button (click)="createItem(name, role)">Add</button>
    <button *ngIf="toggle == true" [style.display]="visible" ion-button (click)="updateItem(name, role)">Edit</button>
  </ion-grid> -->

  <ion-list>
    <ion-item-sliding *ngFor="let item of datasource.source">
      <ion-item *ngIf="item.role==0 || item.role == userDetails.role || userDetails.role == 1">
        {{ item.title }}
      </ion-item>
      <ion-item-options side="left" *ngIf="userDetails.role == 1">
        <button ion-button (click)="editItem(item)">Edit</button>
        <button ion-button color="danger" (click)="deleteItem(item.id)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- <ion-card >
     <ion-card *ngFor="let item of datasource.source"> -->
  <!-- <ion-card *ngFor="let item of dataSet; let msgIndex = index"> -->
  <!-- <ion-item> -->
  <!-- <ion-icon name="trash" item-right (click)="feedDelete(item.feed_id, msgIndex)"></ion-icon> -->

  <!-- <ion-card-content> -->
  <!-- <p [innerHTML]="item.feed | linky"></p>
        <span>{{ this.convertTime(item.created) | amTimeAgo}}</span> -->
  <!-- {{ item.title }}
      </ion-card-content>
    </ion-item>

  </ion-card> -->

  <!-- <ion-card *ngIf="noRecord">
    <ion-item>
      No Records
    </ion-item>
  </ion-card> -->

  <!-- <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecord">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>