<ion-header class="post-toolbar" no-border no-shadow>
  <ion-toolbar>
    <button ion-fab class="close-button" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title text-left>
      <ion-icon name="add"></ion-icon>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="post-content">
  <ion-list class="post-title">
    <ion-item>
      <ion-input type="text" ngControl="pastQuestion" [(ngModel)]="pastQuestion" placeholder="Add Question..." clearInput #question></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="post-text">
    <ion-item>
      <ion-textarea type="text" ngControl="pastAnswer" [(ngModel)]="pastAnswer" placeholder="Add Answer" #answer></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="post-toolbar" no-border no-shadow>
  <ion-toolbar>
    <!-- <button ion-button block class="post-button" (click)="feedUpdate()">Post</button> -->
    <button ion-button block class="post-button" (click)="post(question, answer)">Save</button>
  </ion-toolbar>
</ion-footer>