<ion-content class="home">
  <div class="background-image"></div>
  <div [ngClass]="{'showIcon': myIcon == true,'hideIcon': myIcon == false}">
    <img data-src="{{icon}}">
  </div>
  <div [ngClass]="{'showTitle': myIcon == true,'hideTitle': myIcon == false}">
    <h1>FCSIT Intern Connect</h1>
  </div>
</ion-content>

<ion-footer class="home-footer" no-border no-shadow>
  <ion-toolbar>
    <ion-row>
      <ion-col col-6 (click)="signIn()" [ngClass]="{'showCol': myIcon == true,'hideCol': myIcon == false}">
        <h2 class="sign-head"> Sign In </h2>
      </ion-col>
      <ion-col col-6 (click)="password()" [ngClass]="{'showCol': myIcon == true,'hideCol': myIcon == false}">
        <h2 class="sign-head"> Forgot Password </h2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
