<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item *ngIf="item.role==0 || item.role == userDetails.role">
        {{ item.content }}
      </ion-item>
      <!-- <ion-item-options side="left" *ngIf="userDetails.role == 1">
            <button ion-button (click)="editItem(item)">Edit</button>
            <button ion-button color="danger" (click)="deleteItem(item.id)">Delete</button>
          </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>

</ion-content>