<!--
  Generated template for the ProfileInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content elastic-profile>
  <div class="profile-images">
    <img class="profile-cover" src="assets/img/front2.jpg" />
    <!-- <img class="profile-cover" data-src="{{profile.cover}}"> -->
    <div class="profile-details">
      <div class="profile-area-photo">
        <img class="profile-photo" src="assets/img/front2.jpg" />
        <!-- <img class="profile-photo" src="{{userDetails.image}}" /> -->
        <!-- <img class="profile-cover" data-src="{{profile.cover}}"> -->
      </div>
      <div class="profile-area-username">
        <!-- <h1 class="profile-name" text-center>{{userDetails.name}}</h1> -->
      </div>
    </div>
  </div>

  <div padding class="other-content">
    <p>Name: {{userDetails.name}}</p>
    <!-- <p>Matric no: {{userDetails.matric}}</p> -->
    <p>Email: {{userDetails.email}}</p>
    <!-- <p>Status/Role: {{userDetails.role}}</p> -->
    <p [ngSwitch]="userDetails.role">
      Status/Role:
      <span *ngSwitchCase="1">LI Coordinator</span>
      <span *ngSwitchCase="2">Pre Intern</span>
      <span *ngSwitchCase="3">industrial student</span>
    </p>
  </div>
</ion-content>