page-profile-info {
  .badging {
    position: absolute;
    top: -3px;
    left: 9px;
    background: map-get($colors, dark);
    color: map-get($colors, myFont);
    border-radius: 50%;
  }

  .profile-images {
    position: relative;
    height: 40%;
    background: white;
    z-index: 2;
    .profile-cover {
      width: 100%;
      height: 70%;
      opacity: 0.8;
    }

    .profile-area {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      z-index: 4;
    }

    .profile-area-photo {
      @extend .profile-area;
      top: 63%;
      .profile-photo {
        width: 10rem;
        height: 10rem;
        border: 3px solid whitesmoke;
        border-radius: 50%;
      }
      @media screen and (orientation: Landscape) and (max-width: 1000px) {
        top: 45%;
        .profile-photo {
          width: 8rem;
          height: 8rem;
        }
      }
    }

    .profile-area-username {
      @extend .profile-area;
      top: 92%;
      .profile-name {
        margin-bottom: 0.5rem;
        margin-top: 0;
      }
      @media screen and (orientation: Landscape) {
        top: 89%;
      }
    }

    .profile-data {
      position: relative;
      margin-top: -2.4em;
      background: white;
      z-index: 3;
      border-radius: 50%;
      ion-col {
        padding-top: 15px;
        color: map-get($colors, primary);
        .number {
          padding: 0;
        }
        .data-head {
          font-family: cursive;
        }
        .data-number {
          font-family: fantasy;
        }
      }
    }
  }

  .other-content {
    z-index: 1;
    .profile-segment {
      padding-bottom: 0;
    }
  }
}
