.signup-padding{
  padding: 0 20px 10px;
  .item{
    @media screen and (orientation: portrait) and (max-height: 600px) {
      font-size: 1.4rem;
    }
  }
}
.pwd-icon{
  margin-right: 0  !important;
  font-size: 2rem  !important;
}
 .signup-slide{
   overflow-y: scroll;
   .slide-zoom{
     height: 100%;
   }
 }

.centering-icon{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
  padding: 3em;
  margin: 20px 0;
  border: thin dashed gainsboro;
  border-radius: 50%;
  color: gainsboro;
  @media screen and (orientation: portrait) and (min-height: 1000px), screen and (orientation: landscape) and (min-width: 1000px){
    top: 35%;
    padding: 7em;
    ion-icon{
      font-size: 2.4rem;
    }
  }
}

.footing{
  position: absolute;
  bottom: 5%;
  right:0;
  left:0;
}

.footing-1{
  @extend .footing;
  @media screen and (orientation: landscape) and (max-height: 700px){
    position: relative;
  }
}

.mybadge{
  background: transparent;
}
