<ion-header class="login-header" no-border no-shadow>
    <ion-toolbar>
        <button ion-fab class="close-button" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </button>
        <ion-title text-center>Change Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  padding-left padding-right class="login-component" #content>
    <ion-slides #signupslider id="signUp">
        <ion-slide class="signup-slide">
            <div class="login-content">
                    <ion-list class="login-data signup-padding">
                        <ion-item>
                            <ion-input no-auto-scroll type="text"  [(ngModel)]="userData.name" placeholder="Name"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input no-auto-scroll type="text"  [(ngModel)]="userData.student_id" placeholder="Student ID"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input no-auto-scroll type="password"  [(ngModel)]="userData.password" placeholder="Password"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input no-auto-scroll id="confirmPwd" type="password" [(ngModel)]="userData.confirm_password" 
                                       placeholder="Confirm Password"></ion-input>
                        </ion-item>
                    </ion-list>
                      <button ion-button block type="submit" (click)="signup()">Update</button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
